.custom-error {
  color: red;
}

.custom-label,
.custom-inp,
.btn-submit {
  color: var(--color-text-primary) !important;
}

.create-task-heading {
  color: var(--color-border);
  background-color: white;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  background-color: var(--color-border) !important;
  height: 3rem !important;
  border-radius: 0.6rem !important;
}

.dialog-create {
  background-color: white;
  padding: 1rem;
  height: 100%;
}

.custom-fab {
  background-color: var(--color-border-light);
  color: var(--color-text-primary) !important;
  border: 0.2rem solid var(--color-border-light);
  transition: width 0.3s ease, padding 0.3s ease;
}

.custom-fab:hover {
  border: 0.2rem solid var(--color-border);
  background-color: var(--color-border) !important;
  color: white !important;
  transition: width 0.3s ease, padding 0.3s ease;
}

.custom-fab:disabled {
  background-color: #c0c0c0; /* Disabled background color */
  color: #6c757d; /* Disabled text color */
  cursor: not-allowed;
  transition: width 0.3s ease, padding 0.3s ease;
  border: 0.2rem solid #c0c0c0;
}
